html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#main {
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1;
}

#start {
    display: block;
    padding: 1em;
    font-size: 2em;
    text-align: center;
}

#command-form {
    padding-top: 1em;
    padding-bottom: 1em;
}

#command {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 3px solid;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .2em;
}

#game {
    flex: 1;
}

#game p {
    padding: 4px 10px;
}

.info { border-left: 5px solid #999; }
.info.warning { 
    border-color: #e89f28;
    /*color: #e89f28;
    background-color: #6b371f;*/
}
.info.success { 
    border-color: #70c12a;
    /*color: #70c12a;
    background-color: #2a4a25;*/
}
.info.fail    { 
    border-color: #d63d3d; 
    /*color: #d63d3d;
    background-color: #56160f;*/
}

span.warning {
    color: #e89f28;
}
span.success { 
    color: #70c12a;
}

.command-line {
    text-align: right;
}
.command-line.invalid {
    text-decoration: line-through;
    opacity: .5;
}

.suggest {
    color: white;
    border-bottom: 1px solid;
}